# Dependencies
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Testing
coverage
.nyc_output

# Next.js
.next/
out/
build
dist

# Production
.vercel
.netlify

# Misc
.DS_Store
*.pem

# Debug
*.log*

# Local env files
.env
.env*.local
.env.development
.env.test
.env.production

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# Docker
Dockerfile
.dockerignore
docker-compose.yml
